<div id="modal-{{ project.id }}" class="modal fade bd-example-modal-lg project-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title project-title">
                    {{ project.name }}
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-row justify-content-between">
                    <div>
                        {{ project.description }}
                    </div>
                    <div>
                        {% for technology in project.technologies %}
                            <i class="{{ technology.logo }} fa-2x"></i>
                        {% endfor %}
                    </div>
                </div>
                <div class="project-content text-justify">
                    {{ project.html|raw }}
                </div>
            </div>
        </div>
    </div>
</div>
