<div class="grid-item {{ project.category.identifier }} ">
        <div class="project-description h-center">
            <p>
                {{ project.description }}
            </p>
        </div>
        {% if project.poster %}
            <img src="/uploads/{{ project.poster }}" class="poster" alt="">
        {% else %}
            <img src="https://picsum.photos/280/150?random={{ loop.index }}" alt="">
        {% endif %}
        <div class="band">{{ project.name }}</div>
</div>
